* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Amiri', georgia, 'times new roman', serif;
}

/********* HEADER *********/
header {
  background-color: black;
  color: white;
  padding: 4px 15px 2px;
  height: 42px;
  position: relative;
}

header .account {
  display: flex;
}

.icons {
  width: 76px;
  height: 33px;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 10px;
}

.icons i {
  font-size: 13px;
}

.nyt-title {
  text-align: center;
}

.nyt-title a {
  text-decoration: none;
  color: white;
  font-family: 'UnifrakturCook', cursive;
  font-size: 25px;
  margin: 6px auto 0;
  height: 26px;
}

.user-options {
  width: 202px;
  height: 33px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 4px;
}

.user-options span:first-child {
  font-family: 'Commissioner', sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
}

.user-options span {
  text-align: center;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  width: 67px;
}

/********* COVER *********/
.cover {
  position: relative;
  color: white;
}

.cover-txt {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiri', serif;
  font-weight: 700;
}

.cover-txt h1 {
  font-size: 75px;
  line-height: 70px;
  text-shadow: -1px 2px 4px rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}

.cover-txt p {
  font-size: 16px;
}

.cover-txt a {
  color: white;
}

.cover-txt date {
  font-weight: 400;
  font-size: 14px;
}

.cover img {
  width: 100%;
}

/********* MAIN *********/
.container {
  margin: 0 auto;
  width: 600px;
}

.container p {
  font-size: 23px;
  line-height: 33px;
  margin-bottom: 15px;
}

h2 {
  margin: 35px auto 19px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
}

.caption-div {
  margin: 0 auto;
  max-width: 600px;
}

.container .caption-div {
  margin-bottom: 20px;
}

.caption {
  font-size: 14px;
  line-height: 14px;
  color: #777;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.caption-author {
  color: #aaa;
  font-size: 12px;
  line-height: 12px;
  font-family: 'Open Sans', sans-serif;
}

.extended-container {
  margin: 2px -38%;
}

.container img {
  width: 100%;
  height: 739px;
}

.container iframe {
  width: 100%;
  height: 590px;
}

.container a {
  color: #326891;
}

/********* CREDITS *********/
.credits {
  margin-top: 60px;
  margin-bottom: 40px;
}

.credits p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 0;
  line-height: 18px;
  font-weight: bold;
}

.credits p:first-child {
  margin-bottom: 10px;
}

/********* FOOTER *********/
footer div {
  margin: 0 auto;
  width: 600px;
}

/* titulos
font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
amiri bold weight 700

texto foto
font-family: nyt-franklin, helvetica, arial, sans-serif;
font-family: 'Open Sans', sans-serif;

texto
font-family: 'nyt-imperial', georgia, 'times new roman', times, serif;
amiri normal weight 400


font-family: 'Amiri', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'UnifrakturCook', cursive;
*/
